
.img-card {
  padding: 6px;
  padding-bottom: 2px;
}

ion-card-header {
  padding: 12px;
}

.text-raya {
  ion-card-subtitle{
    text-decoration: line-through;
    padding-top: 6px;
  }
}

.buttons-ion {
  margin-top: 10px;
}

.circle-red-text {
  margin-top: 10px;
  color: red;
}
