<ion-card>
  <img class="img-card"
    src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2016/10/sopafideo.jpg"
    alt="img-fideos" />
  <ion-card-header>
    <ion-card-title>Sopa Fideos</ion-card-title>
    <span class="text-raya">
      <ion-card-subtitle>$15</ion-card-subtitle>
    </span>
    <ion-card-title>$10</ion-card-title>
    <ion-card-subtitle>Gourmet Kitchen</ion-card-subtitle>
    <div class="circle-red-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"></circle>
    </svg>
  </div>
    <div class="buttons-ion">
      <ion-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-button>

      <ion-button color="primary" fill="outline">
      </ion-button>

      <ion-button color="primary">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>
</ion-card>
