
<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="button-home">
  <ion-fab-button color="primary" (click)="handleHome()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="promociones">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Promociones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ridepay">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>RidePay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="menu"></ion-icon>
      <ion-label>Mas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>
